.Navigation {
  position: sticky;
  top: 0;
  z-index: 1;
  background: saddlebrown;
  font-family: "ZCOOL KuaiLe", cursive;
  border-bottom: solid;
  border-color: tan;
  border-width: thick;
}

#loginButton {
  background-color: tan;
  font-size: 3vh;
  border-style: solid;
  border-color: black;
}

#logoButton {
  box-shadow: none;
  text-decoration-color: tan;
}

#titleSpan {
  font-size: 3.5vh;
  margin-left: 1vh;
  color: tan;
}

#safariHat {
  width: 10vh;
  height: 10vh;
}
